.mains {
    text-align: center;
    padding-top:20px;
    min-height:100px;
    display: flex;
    flex-flow: row wrap;

}
.left {
    flex: 4;
    
}
.right {
    flex:6;
}
.headerText {
    font-size: 5rem;
}
.headerText2 {
    font-size: 2rem;
    width:75%;
    margin: auto;
}
.img {
    max-width:600px;


}
.purple {
    color: rgba(4, 0, 56, 0.71);
}