
.navi {
    display: flex;
    min-height: 56px;
    align-items: center;
    justify-content: space-around;
   
    


}
.left {
    flex: 1 1;
    text-align: center;
}
.middle {
    flex: 1 1;
    text-align: center;
    



}
.logo {
    width:200px;
    height:100px;
}

.item {
    cursor: pointer;
    font-size: 25px;
    padding: 50px;
    display: inline-block;
    flex:auto;
    
  }
  .item, .logo { transition: all .2s ease-in-out; }
  .item:hover, .logo:hover { transform: scale(1.1); }

