
.navi {
    display: flex;
    min-height: 56px;
    align-items: center;
   
    


}

.middle {
    flex: 9;
    text-align: center;
    display: flex;
    justify-content: space-around;



}
.logo {
    width: 100px;
    height: 120px;
  }
.item {
    font-size: 25px;
    padding: 22px;
    display: inline-block;
    
  }
  .item, .logo { transition: all .2s ease-in-out; }
  .item:hover, .logo:hover { transform: scale(1.1); }
  .left {
    flex: 1;
    padding-left: 20px;
  }
  
